<div 
    class="bg-light border p-2 m-1 col-3" 
    @onclick="(args)=>LastSelectedProductChange(args, Product.Name)" 
    style="background-color:white"
>
    <h4 class="text-secondary"> Product @Product.Id</h4>
    <input type="checkbox" @onchange="FavoriteUpdated" /> Add to Favorite  <br /><br />
    Name - @Product.Name <br />
    Show Properties
    <input type="checkbox" @bind-value="Product.IsActive" ckhecked="@(Product.IsActive?"checked":null)" />
    @if (Product.IsActive)
    {
        @foreach (var productProperties in Product.Prop)
        {
            <p>@productProperties.Key - @productProperties.Value</p>
        }
    }
    <br />
    <_EditDeleteButton IsActive="@Product.IsActive"></_EditDeleteButton>
    <div />

</div>
@code {
    [Parameter]
    public Demo_Product Product { get; set; }
    //evet call back
    [Parameter]
    public EventCallback<bool> OnFavoriteUpdated { get; set; }
    [Parameter]
    public EventCallback<string> OnLastSelectedProductChange { get; set; }

    private async Task FavoriteUpdated(ChangeEventArgs e)
    {
        await OnFavoriteUpdated.InvokeAsync((bool)e.Value);
    }
    private async Task LastSelectedProductChange(MouseEventArgs e, string name)
    {
        await OnLastSelectedProductChange.InvokeAsync(name);
    }
}
